<img src="{{album.album_logo}}">

<h1>{{ album.artist}}</h1>
<h2><strong>{{ album.title }}</strong></h2>


<form action="{% url 'music:favorite' album.id %}" method="post">
    {% csrf_token %}
    {% for song in album.song_set.all %}
       <input type="radio" id="song{{ forloop.counter }}" name="song" value="{{ song.id }}"  />
       <label for="song{{ forloop.counter }}">
           {{ song.song_title}}
           {% if song.is_fav %}
           <img src="http://www.clker.com/cliparts/L/k/y/e/Y/U/yellow-star-hi.png" >
           {% endif %}
       </label><br>
    {% endfor %}
    <input type="submit" value="Favorite">
</form>